[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
tqdm = "*"
retry = "*"
requests = "*"
pandas = "*"
bs4 = "*"
selenium = "*"
webdriver-manager = "*"
lxml = "*"

[dev-packages]

[requires]
python_version = "3.10"
